# Project exclude paths
/.gradle/
/Application/build/generated/not_namespaced_r_class_sources/
/Application/build/intermediates/annotation_processor_list/
/Application/build/intermediates/apk_list/
/Application/build/intermediates/blame/
/Application/build/intermediates/build-info/
/Application/build/intermediates/bundle_manifest/
/Application/build/intermediates/compatible_screen_manifest/
/Application/build/intermediates/incremental/
/Application/build/intermediates/incremental-runtime-classes/
/Application/build/intermediates/incremental-verifier/
/Application/build/intermediates/instant-run-apk/
/Application/build/intermediates/instant-run-resources/
/Application/build/intermediates/instant_app_manifest/
/Application/build/intermediates/instant_run_app_info_output_file/
/Application/build/intermediates/instant_run_merged_manifests/
/Application/build/intermediates/instant_run_split_apk_resources/
/Application/build/intermediates/javac/
/Application/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/Application/build/intermediates/manifest-checker/
/Application/build/intermediates/merged_manifests/
/Application/build/intermediates/metadata_feature_manifest/
/Application/build/intermediates/processed_res/
/Application/build/intermediates/res/
/Application/build/intermediates/signing_config/
/Application/build/intermediates/split-apk/
/Application/build/intermediates/symbols/
/Application/build/intermediates/transforms/
/Application/build/outputs/